{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	
			<div class='container'>
				<div class='row'>
				{% for service in Services %}
				<div class="col-6">
					<img src="upload/services/{{ service.picture }}" alt="{{service.title }}" class="align-self-center" width="auto"height='auto'>
					<div class="card-body">
						<p class="card-text"></p>{{service.title }}
						</div>
					</div>
					{% endfor %}
			</div>
			</div>
			{% endblock %}