{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	
	<div class="container text-center">
		<div class="row">
		<p>journée d ouverture</p>
			{% for hour in Hours %}
			
					
						<p>{{ hour.days}} 
						matinée :{{hour.morninghours}}
						apres-midi:{{hour.evening}}</p>
						
				{% endfor %}
			</div>
			{% endblock %}