{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}

	<div class='container'>
		<div class='row'>
			{% for service in services %}
				<div class="col-6">
					<img src="upload/services/{{ service.picture }}" alt="{{service.title }}" class="align-self-center" width="auto" height='auto'>
					<div class="card-body">
						<p class="card-text"></p>
						{{service.title }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div>Bonne entreprise,simple et efficace _Note : 20/20 Fabien</div>
			</div>
			<div class="carousel-item">
				<div>Très bonne accueil,très bon qualité prix_Note 20/20 Lise</div>
			</div>
			<div class="carousel-item">
				<div>Société qui mérite d'etre connue,disponilité au rendez-vous_Note 20/20 Elia</div>
			</div>
			<div class="carousel-item">
				<div>Rapide et efficace_Note 20/20 Esther</div>
			</div>
			<div class="carousel-item">
				<div>Ma voiture était entre bonne main_Note 20/20 Georges</div>
			</div>
			<div class="carousel-item">
				<div>Vérifie tous les éléments de sécurité avant de redonner les clés_Note 20/20 Elia</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
{% endblock %}
