c

<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GARAGE VINCENT PARROT</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous">


    <title>Garage VINCENT PARROT</title>
</head>

<gestion des utilisateurs>
<body>
<center>>Connexion</center>
    <div class="form-example_employé">
        <label for="email employe">Enter your email: </label>
        <input type="email" name="email employe" id="email employe" required />
        <label for="mot de passe employé">Enter your mot de passe: </label>
        <input type="password" name="mot de passe employé" id="mot de passe employe" required />

    </div>


    <div class="form-example_visiteur">
        <label for="email visiteur">Enter your email: </label>
        <input type="email" name="email visiteur" id="email visiteur" required />
        <label for="mot de passe visiteur">Enter your mot de passe: </label>
        <input type="password" name="mot de passe visiteur" id="mot de passe visiteur" required />
    </div>
    
    <p>Adresse : GARAGE VINCENT PARROT
        RUE DE LA FORET
        60000 TOULOUSE
        Téléphone : 06 00 00 00 00 </p>  

    <h4> Horaires d'ouverture:</h4>
    <h4>Du Lundi au Vendredi :8h45-12h et de 14h-18h</h4>
    <h4> Samedi : 8h45-12h</h4>
    <h4> Dimanche : Fermé</h4>
    

    </body>
</html>
